<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Guidelines.css">
    <link rel="stylesheet" href='/static/static/css/Guidelines.css'/>
    <title>Guidelines</title>
</head>

<body>
    <header>
        <p
            style="color:white;font-family: Verdana, Geneva, Tahoma, sans-serif; cursor: pointer; margin-left:100px; font-size: 25px;">
            HANDWRITTEN DIGIT RECOGNITION SYSTEM</p>
        <nav>
            <ul class="nav_links">
                <ul class="dropdown">
                    <li><a href="/">HOME</a></li>
                    <ul class="predict">
                        <li><a href="">PREDICTION</a></li>
                        <ul class="prediction">
                            <li><a href="/Upload" class="upload">UPLOAD</a></li>
                            <li><a href="/Draw" class="draw">DRAW</a></li>
                        </ul>
                    </ul>
                    <li><a class="active" href="/Guidelines">GUIDELINES</a></li>
                </ul>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <div class="img1" style="color: black; ">
            <div class="box">
                <p style="text-align: center; padding-right: 20px; margin-top: 15px;">UPLOAD</p>
                <br>
                <div class="size" style="font-size:25px; text-align:justify; margin-left: 50px; margin-right: 50px;">
                    STEP 1: Choose Prediction >> Upload.<br>
                    <br>
                    STEP 2: Choose the image file from local storage(.png, .jpg, .jpeg).<br>
                    <br>
                    STEP 3: Select Predict button.
                    <br><br>
                </div>
                <p style="margin-right:20px ; font-size:22px; margin-left:10px;">To select another image click Clear or
                    Reload the page.</p>
            </div>
        </div>
        <div class="img2" style="color:black;">
            <div class="box2">
                <br>
                <p style="text-align:center; margin-top: -20px;">DRAW</p>
                <br>
                <div class="size" style="font-size:25px; text-align:justify; margin-left: 70px; margin-right: 50px;">
                    STEP 1: Choose Prediction >> Draw.<br>
                    <br>
                    STEP 2: Draw the Digit in the canvas.<br>
                    <br>
                    STEP 3: Select Predict button.
                    <br><br>
                </div>
                <p style="margin-right:20px ; font-size:22px; margin-left:25px;">To draw another image click Clear or
                    Reload the page.</p>
            </div>
        </div>
    </div>
    


</body>

</html>